1. 타이타닉 데이터를 로드하라

In [ ]:
# pandas 가져오기 (as 별칭)
# read_csv() : csv 데이터 읽기
import pandas as pd
df = pd.read_csv("/content/titanic.csv")
df

2. 데이터의 상위 5개 행을 출력하라

In [ ]:
# head() : 상위 ()개 표시 (기본 5개)
df.head(5) # df.head() = df.head(5)

3. 데이터의 행과 열의 갯수를 파악하라

In [ ]:
# shape : 축에 대한 정보 표시 (행, 열)
df.shape[0] # [0]은 행
df.shape[1] # [1]은 열

4. 전체 컬럼을 출력하라

In [ ]:
# columns : 컬럼명 표시
df.columns

5. 6번째 컬럼명을 출력하라

In [ ]:
# 인덱스 번호는 0부터 시작하므로 6번째를 보기 위해서는 6 - 1
df.columns[5] # 6번째 컬럼

6. 6번째 컬럼의 데이터 타입을 확인하라

In [ ]:
# iloc = integer location
# iloc : 데이터프레임의 행이나 컬럼에 인덱스 값으로 접근
df.iloc[:, 5] # 전체 행, 6번째 컬럼

7. 데이터셋의 인덱스 구성은 어떤가

In [ ]:
# index : 인덱스 표시
df.index

8. 6번째 컬럼의 3번째 값은 무엇인가?

In [ ]:
df.iloc[2, 5] # 3번째 행, 6번째 컬럼

9. 데이터를 로드하라. 컬럼이 한글이기에 적절한 처리해줘야함

In [ ]:
# encoding = "utf-8" : 유니코드 인코딩 (영어, 한글 등 지원)
import pandas as pd
df = pd.read_csv("/content/Jeju.csv", encoding = "utf-8")
df

10. 데이터 마지막 3개 행을 출력하라

In [ ]:
# tail() : 하위 ()개 표시 (기본 5개)
df.tail(3) # df.tail() = df.tail(5)

11. 수치형 변수를 가진 컬럼을 출력하라

In [ ]:
# select_dtypes() : 열에 포함된 데이터들을 type 기준으로 인덱싱
df.select_dtypes(exclude = object) # 수치형

12. 범주형 변수를 가진 컬럼을 출력하라

In [ ]:
df.select_dtypes(exclude = object).columns # 범주형

13. 각 컬럼의 결측치 숫자를 파악하라

In [ ]:
# isnull() : 결측치 확인
# sum() : 총합
df.isnull().sum()

14. 각 컬럼의 데이터수, 데이터타입을 한번에 확인하라

In [ ]:
# info() : 정보 확인
df.info()

15. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라

In [ ]:
# describe() : 요약 통계량 확인
df.describe()

16. 거주인구 컬럼의 값들을 출력하라

In [ ]:
df[["거주인구"]]

17. 평균 속도 컬럼의 4분위 범위(IQR) 값을 구하여라

In [ ]:
# quantile() : 분위수의 해당하는 값을 반환
df["평균 속도"].quantile(0.75) - df["평균 속도"].quantile(0.25)

18. 읍면동명 컬럼의 유일값 갯수를 출력하라

In [ ]:
# nunique() : 고유값, 유일값의 개수 반환
df.읍면동명.nunique()
# df["읍면동명"].nunique()

19. 읍면동명 컬럼의 유일값을 모두 출력하라

In [ ]:
# unique() : 고유값, 유일값 반환
df.읍면동명.unique()
# df["읍면동명"].unique()

20. 식당 데이터를 로드하라.

In [ ]:
import pandas as pd
df = pd.read_csv("/content/chipo.csv")
df

21. quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라

In [ ]:
# loc() = location
# loc() : 데이터프레임의 행이나 컬럼에 label이나 boolean array로 접근
# "quantity" = 3, 상위 행 5개
df.loc[df["quantity"] == 3].head()

22. quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라

In [ ]:
# reset_index() : 설정 인덱스를 제거하고, 기본 인덱스(0, 1, 2, ...)로 변경
# drop = True : 제거한 인덱스를 완전히 삭제 (기본값 drop = False : 제거한 인덱스를 열에 추가)
# "quantity" = 3, 인덱스 0
df.loc[df["quantity"] == 3].reset_index(drop = True).head()

23. quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하라

In [ ]:
result_df = df[["quantity", "item_price"]]
result_df

24. item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하라

In [ ]:
# astype : 일부 컬럼의 타입 변경
# "item_price"의 첫 문자 제거, "float" 타입으로 변경
df["new_price"] = df["item_price"].str[1:].astype("float")
df["new_price"]

25. new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하여라

In [ ]:
# len() : 문자열 길이 반환
# new_price가 5이하, 개수(길이)
len(df.loc[df.new_price <= 5])

26. item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하여라

In [ ]:
# reset_index() : 설정 인덱스를 제거하고 기본 인덱스(0, 1, 2, ...)로 변경
# drop = True : 제거한 인덱스를 완전히 삭제 (기본값 drop = False : 제거한 인덱스를 열에 추가)
# item_name = "Chicken Salad Bowl", 인덱스 0
df.loc[df.item_name == "Chicken Salad Bowl"].reset_index(drop = True)

27. new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하라

In [ ]:
# df.new_price가 9 이하이고, item_name = "Chicken Salad Bowl"
df.loc[(df.new_price <= 9) & (df.item_name == "Chicken Salad Bowl")]

28. df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하여라

In [ ]:
# sort_values() : 값 기준 정렬
# ascending = False : 내림차순 (기본값 ascending = True)
# "new_price" 값 정렬, 오름차순 정렬, 인덱스 0
df.sort_values("new_price").reset_index(drop = True)

29. df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하라

In [ ]:
# contains() : 특정 문자열 포함 유무 확인
# "Chips" 포함
df.loc[df.item_name.str.contains("Chips")]

30. df의 짝수번째 컬럼만을 포함하는 데이터프레임을 출력하라

In [ ]:
# df.iloc[행, 컬럼(시작:끝:스텝)]
df.iloc[:, ::2] # 전체 행, 짝수 컬럼

31. df의 new_price 컬럼 값에 따라 내림차순으로 정리하고 index를 초기화 하여라

In [ ]:
# sort_values() : 값 기준 정렬
# ascending = False : 내림차순 (기본값 ascending = True)
# "new_price" 값 정렬, 내름차순 정렬, 인덱스 0
df.sort_values("new_price", ascending = False).reset_index(drop = True)

32. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 인덱싱하라

In [ ]:
# item_name = "Steak Salad" 이거나 "Bowl"
df.loc[(df.item_name == "Steak Salad") | (df.item_name == "Bowl")]

33. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 첫번째 케이스만 남겨라

In [ ]:
# drop_duplicates() : 중복행 제거 (기본값 keep = "first" : 처음만 남기기)
# item_name = "Steak Salad" 이거나 "Bowl", "item_name" 기준으로 중복행 제거
result_df = df.loc[(df.item_name == "Steak Salad") | (df.item_name == "Bowl")]
result_df.drop_duplicates("item_name") # 처음 케이스

34. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 마지막 케이스만 남겨라

In [ ]:
# drop_duplicates() : 중복행 제거 (기본값 keep = "first" : 처음만 남기기)
# item_name = "Steak Salad" 이거나 "Bowl", "item_name" 기준으로 중복행 제거
result_df = df.loc[(df.item_name == "Steak Salad") | (df.item_name == "Bowl")]
result_df.drop_duplicates("item_name", keep = "last") # 마지막 케이스

35. df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱하라

In [ ]:
# mean() : 평균
# new_price가 df.new_price보다 크거나 같음
df.loc[df.new_price >= df.new_price.mean()]

36. df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하라

In [ ]:
# item_name = "Izze" -> "Fizzy Lizzy"
df.loc[df.item_name == "Izze", "item_name"] = "Fizzy Lizzy"
# df.loc[df["item_name"] == "Fizzy Lizzy", "item_name"] = "Izze"
df

37. df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하여라

In [ ]:
# isnull() : 요소의 NaN 값 (결측치 위치가 True로 표시)
# sum() : 총합
df.choice_description.isnull().sum()

38. df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하라(loc 이용)

In [ ]:
# choice_description의 결측치를 "NoData"로 변경
df.loc[df.choice_description.isnull(), "choice_description"] = "NoData"
df

39. df의 데이터 중 choice_description 값에 Black이 들어가는 경우를 인덱싱하라

In [ ]:
# contains() : 특정 문자열 포함 유무 확인
# "Black" 포함
df[df.choice_description.str.contains("Black")]

40. df의 데이터 중 choice_description 값에 Vegetables 들어가지 않는 경우의 갯수를 출력하라

In [ ]:
# ~ : 부정 연산자
# "Vegetables" 미포함, 개수(길이)
len(df.loc[~df.choice_description.str.contains("Vegetables")])

41. df의 데이터 중 item_name 값이 N으로 시작하는 데이터를 모두 추출하라

In [ ]:
# startswith() : 문자열이 특정 문자로 시작하는지 확인 (True or False)
# item_name이 "N"으로 시작
df[df.item_name.str.startswith("N")]

42. df의 데이터 중 item_name 값의 단어갯수가 15개 이상인 데이터를 인덱싱하라

In [ ]:
# len() : 문자열 길이 반환
# item_name이 15개 이상, 개수(길이)
df[df.item_name.str.len() >= 15]

43. df의 데이터 중 new_price값이 lst에 해당하는 경우의 데이터 프레임을 구하고 그 갯수를 출력하라 lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

In [ ]:
# isin() : 일치하는 요소 확인
# 리스트 lst와 일치하는 요소의 개수
lst = [1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
df.loc[df.new_price.isin(lst)]

44. 에어비앤비 데이터 로드

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv")
df

45. 데이터의 각 host_name의 빈도수를 구하고 host_name으로 정렬하여 상위 5개를 출력하라

In [ ]:
# value_counts() : 고유한 행의 수
# sort_index() : 인덱스 기준 정렬
df.host_name.value_counts().sort_index().head()

46. 데이터의 각 host_name의 빈도수를 구하고 빈도수 기준 내림차순 정렬한 데이터 프레임을 만들어라. 빈도수 컬럼은 counts로 명명하라

In [ ]:
# groupby() : 그룹핑, 그룹별로 데이터를 집계 및 요약
# size() : 데이터 크기, 개수 (NaN 포함)
df.groupby("host_name").size() # "host_name" 그룹, 개수(크기)

In [ ]:
# to_frame() : 시리즈를 데이터프레임으로 변환
# rename() : 이름 변경
df.groupby("host_name").size().to_frame().rename(columns = {0: "counts"}) # 데이터프레임화, "counts"으로 컬럼명 변경

In [ ]:
# sort_values() : 값 기준 정렬
# ascending = False : 내림차순
df.groupby("host_name").size().to_frame().rename(columns = {0: "counts"}).\
  sort_values("counts", ascending = False) # "counts" 값 정렬, 내림차순 정렬

47. neighbourhood_group의 값에 따른 neighbourhood컬럼 값의 갯수를 구하여라

In [ ]:
# as_index : 그룹을 인덱스로 지정할 것인지 여부
df.groupby(["neighbourhood_group", "neighbourhood"], as_index = False).size()

In [ ]:
df.groupby(["neighbourhood_group", "neighbourhood"], as_index = True).size()

48. neighbourhood_group의 값에 따른 neighbourhood컬럼 값 중 neighbourhood_group그룹의 최댓값들을 출력하라

In [ ]:
# max() : 최댓값
df.groupby(["neighbourhood_group", "neighbourhood"], as_index = False).size()\
  .groupby(["neighbourhood_group"], as_index = False).max()

49. neighbourhood_group 값에 따른 price값의 평균, 분산, 최대, 최소 값을 구하여라

In [ ]:
# agg() : 한번에 다양한 메소드를 적용
# "neighbourhood_group" 그룹, "price"의 평균, 분산, 최대, 최소
df[["neighbourhood_group", "price"]].groupby("neighbourhood_group").agg(["mean", "var", "max", "min"])

50. neighbourhood_group 값에 따른 reviews_per_month 평균, 분산, 최대, 최소 값을 구하여라

In [ ]:
# "reviews_per_month" 그룹, "price"의 평균, 분산, 최대, 최소
df[["neighbourhood_group", "reviews_per_month"]].groupby("neighbourhood_group").agg(["mean", "var", "max", "min"])

51. neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 구하라

In [ ]:
# mean() : 평균
df.groupby(["neighbourhood", "neighbourhood_group"]).price.mean()

52. 카드 이용 데이터를 로드해라

In [ ]:
# index_col = 0 : Unnamed: 0 컬럼 제거
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv", index_col = 0)
df

53. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라

```
Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K +’ : e
```

In [ ]:
dic = {
    "Unknown"        : "N",
    "Less than $40K" : "a",
    "$40K - $60K"    : "b",
    "$60K - $80K"    : "c",
    "$80K - $120K"   : "d",
    "$120K +"        : "e"   
}

# map() : 리스트의 요소를 지정된 함수로 처리
# 원본 리스트를 변경하지 않고, 새 리스트를 생성
# 각 값에 함수를 대입

# 람다식
# x를 dic[x]로 매핑
df["newIncome"] = df.Income_Category.map(lambda x: dic[x])
df["newIncome"]

In [ ]:
# 람다 함수 : 이름이 없는 함수를 한 줄로 작성할 수 있게 해주는 함수
# 람다식
# x를 x * x, a로 매핑
a = [1, 2, 3, 4, 5, 6, 7, 8]
list(map(lambda x: x * x, a))

54. Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라 

```
Unknown : N
Less than $40K : a
$40K - $60K : b
$60K - $80K : c
$80K - $120K : d
$120K +’ : e
```

In [ ]:
def changeCategory(x):
  if x == "Unknown": # x가 "Unknown"일 경우 "N"
    return "N"
  elif x == "Less than $40K": # x가 "Less than $40K"일 경우 "a"
    return "a"
  elif x == "$40K - $60K": # x가 "40K - $60K"일 경우 "b"
    return "b"
  elif x == "$60K - $80K": # x가 "$60K - $80K"일 경우 "c"
    return "c"
  elif x == "$80K - $120K": # x가 "$80K - $120K"일 경우 "d"
    return "d"
  elif x == "$120K +": # x가 "$120K +"일 경우 "e"
    return "e"

# apply() : 원하는 값에 원하는 함수 적용
# changeCategory 함수 적용
df["newIncome"] = df.Income_Category.apply(changeCategory)
df["newIncome"]

'''
dic = {
    "Unknown"        : "N",
    "Less than $40K" : "a",
    "$40K - $60K"    : "b",
    "$60K - $80K"    : "c",
    "$80K - $120K"   : "d",
    "$120K +"        : "e"   
}

def test(x):
  return dic[x] 

df["Income_Category"].apply(test)
'''

55. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라. 
```
(0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력하라
```

In [ ]:
# 람다식
# x를 x // 10 * 10로 매핑
df["AgeState"] = df.Customer_Age.map(lambda x: x // 10 * 10)
df["AgeState"]

56. Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라

In [ ]:
# 람다식
# x가 "Graduate" in x일 경우 1, 아닐 경우 0
# "Graduate" in x : x에 "Graduate" 단어 포함
df["newEduLevel"] = df.Education_Level.map(lambda x: 1 if "Graduate" in x else 0)
df["newEduLevel"]

57. Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라

In [ ]:
# 람다식
# x가 x >= 4500일 경우 1, 아닐 경우 0
df["newLimit"] = df.Credit_Limit.map(lambda x: 1 if x >= 4500 else 0)
df["newLimit"].value_counts()

58. Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라. newState의 각 값들의 빈도수를 출력하라

In [ ]:
def check(x):
  # x.Marital_Status가 Married이면서 x.Card_Category가 Platinum일 경우 1
  # 아닐 경우 0
  if x.Marital_Status == "Married" and x.Card_Category == "Platinum":
    return 1
  else:
    return 0

# check 함수 적용
# axis = 1 : 열, 컬럼
df["newState"] = df.apply(check, axis = 1)
df["newState"].value_counts()

59. Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라

In [ ]:
def changeGender(x):
  if x == "M": # x가 "M"일 경우 "male"
    return "male"
  else: # 아닐 경우 "female"
    return "female"

# changeGender 함수 적용
df["Gender"] = df.Gender.apply(changeGender)
df["Gender"].value_counts()

# 람다식
# df["Gender"].map(lambda x: "male" if x == "M" else "female").value_counts()

60. 국가별 5세이하 사망비율 통계 데이터를 로드해라

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv", index_col = 0)
df

61. 데이터를 쪼개라

In [ ]:
df1 = df.iloc[:4, :]
df2 = df.iloc[4:, :]

# display() : 여러 개의 데이터프레임 동시에 출력
display(df1)
display(df2)

62. df1과 df2 데이터를 하나의 데이터 프레임으로 합쳐라

In [ ]:
# concat() : 결합 및 병합
pd.concat([df1, df2])

63. df3과 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 둘다 포함하고 있는 년도에 대해서만 고려한다

```
df3 = df.iloc[:2,:4]
df4 = df.iloc[5:,3:]

display(df3)
display(df4)
```

In [ ]:
df3 = df.iloc[:2, :4]
df4 = df.iloc[5:, 3:]

display(df3)
display(df4)

# join = "inner" : 교집합
pd.concat([df3, df4], join = "inner")

64. df3과 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 모든 컬럼을 포함하고, 결측치는 0으로 대체한다

In [ ]:
# join = "outer" : 합집합
# fillna() : 결측치를 원하는 값으로 변경
pd.concat([df3, df4], join = "outer").fillna(0) # 결측치 0으로 변경

65. df5과 df6 데이터를 하나의 데이터 프레임으로 merge함수를 이용하여 합쳐라. Algeria컬럼을 key로 하고 두 데이터 모두 포함하는 데이터만 출력하라

```
df5 = df.T.iloc[:7,:3]
df6 = df.T.iloc[6:,2:5]

display(df5)
display(df6)
```

In [ ]:
df5 = df.T.iloc[:7, :3]
df6 = df.T.iloc[6:, 2:5]

display(df5)
display(df6)

# merge() : 결합 및 병합
# on : 기준열 (열 기준 병합 시 기준으로할 열의 이름)
# how : 병합 시 기준이 될 인덱스를 정하는 방식
pd.merge(df5, df6, on = "Algeria", how = "inner") # Algeria 컬럼 기준, 교집합

66. df5과 df6 데이터를 하나의 데이터 프레임으로 merge함수를 이용하여 합쳐라. Algeria컬럼을 key로 하고 합집합으로 합쳐라

In [ ]:
df5 = df.T.iloc[:7, :3]
df6 = df.T.iloc[6:, 2:5]

display(df5)
display(df6)

pd.merge(df5, df6, on = "Algeria", how = "outer") # Algeria 컬럼 기준, 합집합